.navbar-position {
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-container {
  background-color: #f7f7f7;
  box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.2);
}

.navbar {
  display: flex;
  align-items: center;

  padding: 10px 0;
  margin: 0 150px;
}

.navbar a {
  text-decoration: none;
}

.nav-brand {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary);
}

.nav-brand:hover {
  color: hsl(198, 79%, 20%);
}

.nav-toggler {
  display: none;
}

.nav-collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.navbar-list {
  display: flex;
  margin-right: 30px;
}

.nav-item {
  list-style-type: none;
  padding: 0 10px;
}

.nav-link {
  color: var(--dark);
  font-size: 16px;
}

.nav-link:hover {
  color: var(--primary);
}

.navbar-social .icon {
  padding-left: 20px;
  color: #124e7f;
  cursor: pointer;
  font-size: 20px;
}

.navbar-social .icon:hover {
  color: var(--primary);
}

@media (max-width: 1100px) {
  .navbar {
    margin: 0 30px;
  }

  .navbar-social .icon {
    font-size: 15px;
  }
}

@media (max-width: 800px) {
  .navbar-container {
    position: relative;
  }

  .navbar {
    margin: 0 25px;
  }
  .brand-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
  }

  .nav-toggler {
    display: block;
    font-size: 25px;
    cursor: pointer;
    transition: all 1s ease-in;
  }

  .fas.fa-times {
    font-size: 28px;
    transform: rotate(180deg);
    transition: transform 1s ease-in-out;
  }

  .fas.fa-bars {
    transform: rotate(-180deg);
    transition: transform 1s ease-in-out;
  }

  .nav-collapse {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 100%;
    background-color: #f7f7f7;
    width: 100%;
    left: 0;
    padding: 0 0 20px 26px;
    visibility: hidden;
    min-height: 0;
    max-height: 0;
    opacity: 0;
    transition: all 1s ease-in-out;
  }

  .nav-collapse.show {
    visibility: visible;
    min-height: 170px;
    opacity: 1;
    z-index: 10;
  }

  .navbar-list {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-item {
    padding: 0;
  }

  .navbar-social {
    display: flex;
    justify-content: space-between;
    width: 120px;
    padding-top: 5px;
  }
  .navbar-social .icon {
    padding: 0;
    font-size: 20px;
  }
}
