* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* margin: 10px 100px; */
  /* background-color: lightblue; */
  font-family: "Poppins";
}

.container {
  margin: 150px;
  padding: 10px;
  font-size: 2rem;
}
